{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Stock</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/add/">Add</a></li>
                <li><a href="/remove/">Remove</a></li>
                <li><a href="/profile/">View All</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <form action="/view/" method="POST" class="navbar-form navbar-right" role="search">
              <li><input type="text" class="form-control" name="search" placeholder="Search"></li>
            </form>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
