{% extends "bootstrap/base.html" %}
{% include 'header.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
      <h1>Last Week in {{ticker}}</h1>
    </div>
    <div id="row">
      <div class="col-md-6">
        <div id="graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="col-md-6">
        <h2>{{stock_hist[0]}}</h2>
          
        <table class="table">
          <thead>
            <th>Date</th>
            <th>Open</th>
            <th>Close</th>
            <th>High</th>
            <th>Low</th>
            <th>Volume</th>
          </thead>
          <tbody>
        {% for date in stock_hist['Open'].keys()|sort(-1): %}
            <tr>
              <td>{{date.date()}}</td>
              <td>{{stock_hist['Open'][date]|round(2)}}</td>
              <td>{{stock_hist['Close'][date]|round(2)}}</td>
              <td>{{stock_hist['High'][date]|round(2)}}</td>
              <td>{{stock_hist['Low'][date]|round(2)}}</td>
              <td>{{stock_hist['Volume'][date]}}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
        </br>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
$(function () {
  $('#graph').highcharts({
    title: {
      text: 'Last week in {{ticker}}',
      x: -20
    },
    {% set days = stock_hist['Open']|length() %}
    {% set counter = 0 %}
    xAxis: { categories: [{% for date in stock_hist['Open'].keys() %}'{{date.date()}}'{% set counter = counter + 1 %}{% if not counter == days: %},{% endif %}{% endfor %}]
    },
    yAxis: { 
      title: {
        text: 'Close ($)',
      },
      plotLines: [{
          value: 0,
          width: 1,
          color: '#808080'
        }]
    },
    tooltip: {
      valuePrefix: '$'
    },
    legend: {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle',
      borderWidth: 0
    },
    series: [
    {% for key in stock_hist: %}
      {% if not key == "Volume" %}
      { name: '{{key}}',
        data: [
          {% for date in stock_hist[key].keys(): %}
            {{stock_hist[key][date]}},
          {% endfor %}
        ]
      },
      {% endif %}
    {% endfor %}
    ],
  });
}); 
</script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}
